#main-root {
  display: flex;
  justify-content: center;
  padding: 15rem;

  .register-container {
    border: 1px black solid;
    background-color: #b4ffff;
    width: 30rem;
    height: 15rem;
    padding: 1rem 0rem 28rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    i {
      font-size: 15rem;
    }

    .input-container {
      display: flex;
      flex-direction: column;

      input {
        width: 15rem;
        height: 2rem;
        margin-bottom: 1rem;
      }

      .btn-container {
        width: 16rem;
        display: flex;
        justify-content: space-evenly;

        button {
          width: 5rem;
          height: 2rem;
          border-radius: 1rem;
          background-color: #f4f4f4;
          background-color: floralwhite;
        }
      }
    }
  }
}
