body {
  background: linear-gradient(to bottom right, #006666 0%, #00cc99 100%);
}

#login-root {
  display: flex;
  justify-content: center;
  padding: 15rem;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  height: 15rem;
  border: 1px black solid;
  background: linear-gradient(to bottom right, #006666 0%, #00cc99 100%);
  padding: 4rem 3rem 18rem 3rem;
  box-shadow: 12px 12px 2px 1px rgba(0, 4, 58, 0.336);

  i {
    font-size: 15rem;
  }

  h1 {
    color: midnightblue;
  }

  .input-container {
    display: flex;
    flex-direction: column;

    input {
      width: 15rem;
      height: 2rem;
      margin-bottom: 1rem;
    }
  }
  .btn-container {
    width: 16rem;
    display: flex;
    justify-content: space-evenly;

    button {
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
    font-size: 1rem;
    
    }
  }
}
