#moods-root {
  display: flex;
  align-items: center;

  .post-box {
    margin: 0rem 0rem 0rem 12%;
  }

  .post-container {
    width: 50rem;
    height: 45rem;
    overflow-x: scroll;

    .post1 {
      width: 40rem;
      height: 40rem;
      background-color: black;
      border: 1px white solid;
          margin: 5% 0% 5% 10%;
    }
    .post2 {
      width: 40rem;
      height: 40rem;
      background-color: black;
      border: 1px white solid;
          margin: 5% 0% 5% 10%;
    }
    .post3 {
      width: 40rem;
      height: 40rem;
      background-color: black;
      border: 1px white solid;
          margin: 5% 0% 5% 10%;
    }
  }
  nav {
    background-color: #f4f4f4;
    height: 50rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 3rem;
      margin: 1rem;
    }

    .img-box {
      width: 12rem;
      height: 10rem;
      background-image: url(https://www.hospiscare.co.uk/i/layout/foobox/no-img.jpg);
      background-position: center;

      input {
        margin: 10px 0rem 3rem 5rem;
      }
    }

    .btn-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      button {
        width: 15rem;
        height: 5rem;
        font-size: 3rem;
        margin: 5rem;
        font-family: inherit;
        background-color: darkturquoise;
      }

      button:hover {
        background-color: rgb(0, 179, 182);
      }
    }
  }
}
